# Pandas

Pandas es una libreria de Python hecha como extensión de NumPY que nos permite la manipulacion y el análisis de datos, ofrenciendonos estructuras de datos y operaciones para manipular tablas numericas y series temporales.

Para comenzar a usar Pandas debemos de importar la liberia (Pandas) con la palabra reservada import. Generalmente se le da un alias a la liberia Pandas y se le llama pd, esto para tener una mayor agilidad y evitar tener que escribir el nombre completo por cada vez que queramos emplear la libreria y sus funciones a lo largo del codigo.

In [2]:
# Importamos la libreria y le datos el alias con la palabra "as" y seguido el nombre que le hara referencia
import pandas as pd

Dependiendo de la version de algo que empleemos es que vamos a poder realizar determinadas funciones y acciones, ya que constatemente (una libreria en este caso (Pandas)) se actualiza y añade/remueve determinadas cosas. Para poder saber que versión tenemos de Pandas podemos usar __version__:

In [4]:
pd.__version__

'1.3.4'

# Nuestro primer acercamiento a Pandas

Como se mencionó al inicio, Pandas nos permite el análisis y manipulación de datos, y esto atraves de DataFrames. Los DataFrames son estructuras de datos, especificamente tablas que contienen filas y columnas. Los DataFrames nos permiten vizualizar los datos por ejemplo de un archivo, que para este ejemplo usaremos un archivo Excel con formato CSV (Comma Separated Values). Para poder leer el contenido del archivo y obtener el DataFrame del archivo que vamos a emplear, debemos de usar el metodo read_csv de Pandas:

In [5]:
# Primero importamos la libreria Pandas y le damos un alias bajo pd
import pandas as pd

In [6]:
# Definimos la variable que va a almacenar el DataFrame del archivo
DataFrame_Excel = pd.read_csv("./dataframe.csv")

In [7]:
# Llamamos a la variable para que se muestre el DataFrame por pantalla (el nombre de la variable puede ser cualquiera)
DataFrame_Excel

  Nombre  Edad       Pais Automovil
0   Juan    35     Mexico        No
1  Pedro    41   Honduras        Si
2  Maria    28       Peru        Si
3  Laura    66  Argentina        No

# <------------------------------------------------------------------------------------------------------->

# Trabajando con columnas de DataFrames

Muchas veces al analizar y manipular datos, tenemos que hacer esto con grandes volumenes de informacion, lo cual hace que el DataFrame sea muy extenso o que en determinados casos no sea nuestro objetivo el obtener dicho volumen de informacion de forma completa, si no, que lo queremos es poder filtrar por una determinada columna. Las columnas en este caso se denominan 'Series'. Esto lo podemos hacer utilizando el nombre o el titulo de la columna que se muestra en el DataFrame, tomaremos como referencia el mismo archivo Excel con Formato CSV.

In [27]:
# Importamos la libreria de Pandas y le damos un alias como pd
import pandas as pd

In [28]:
# Definimos la variavble que va a almacenar el DataFrame del archivo
DataFrame_Excel = pd.read_csv("./dataframe.csv")

In [29]:
# Llamamos a la variable para que se muestre el DataFrame por pantalla
DataFrame_Excel

  Nombre  Edad       Pais Automovil
0   Juan    35     Mexico        No
1  Pedro    41   Honduras        Si
2  Maria    28       Peru        Si
3  Laura    66  Argentina        No

Podemos observar que tenemos las columnas llamadas Nombre, Edad, Pais y Automovil, vamos a filtrar ahora para que se muestre solo los valores de Nombre y Pais. Podemos hacer esto como si se tratara de Slicing, entonces, lo haremos llamando a la variable que contiene el DataFrame y con corchetes vamos a definir que columnas son las que queremos obtener en base al titulo de las columnas que queremos obtener. Un punto importante es que si solo queremos obtener los valores de una columna vamos a usar un solo par de corchetes, mientras que si queremos obtener de 2 a mas valores de columnas debemos de encerrar todos los nombres entre corchetes y dentro de esos corchetes que engloban todo usaremos otros para ahora si escribir el titulo de cada Serie:

In [32]:
# Llamamos a la variable que contiene el DataFrame y le indicamos que solo queremos que se nos devuelva la columna que tenga 
# como titulo 'Nombre'
DataFrame_Excel['Nombre']

0     Juan
1    Pedro
2    Maria
3    Laura
Name: Nombre, dtype: object

In [33]:
# Llamamos a la variable que contiene el DataFrame y le indicamos que solo queremos que se nos devuelva la columna que tenga 
# como titulo 'Nombre' y 'Pais'
DataFrame_Excel[['Nombre','Pais']]

  Nombre       Pais
0   Juan     Mexico
1  Pedro   Honduras
2  Maria       Peru
3  Laura  Argentina

Otra forma por la cual podemos acceder a los valores de una serie es llamando directamente a la Serie, y se hace de la siguiente manera sin necesidad de corchetes:

In [36]:
DataFrame_Excel.Nombre

0     Juan
1    Pedro
2    Maria
3    Laura
Name: Nombre, dtype: object

Para poder determinar con que se esta trabajando, es decir, ya sea determinar un DataFrame o una Serie, lo haremos con la funcion type que tiene Python:

In [39]:
type(DataFrame_Excel)

pandas.core.frame.DataFrame

In [40]:
type(DataFrame_Excel.Pais)

pandas.core.series.Series

In [43]:
# En base a esto podemos determinar que Serie es solo una columna, mientras que de 2 a mas ya se un DataFrame (un conjunto)
type(DataFrame_Excel[['Nombre','Pais']])

pandas.core.frame.DataFrame